body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

.team-member {
    
    display: inline-block;
    margin-right: 20px;
}

.team-member img {
    
    margin-bottom: 10px;
    width: 100px; 
    border-radius: 50%;
}
.member-details {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
